<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="GS_OPEN_DRIVER" value="graph_db"/>
        <env name="GS_OPEN_HOST" value="http://10.0.2.2:7200"/>
        <env name="GS_OPEN_REPOSITORY" value="test"/>
        <env name="GS_OPEN_USERNAME" value="admin"/>
        <env name="GS_OPEN_PASSWORD" value="root"/>
    </php>
</phpunit>